@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

h1 {
    font-size: 30px;
}

.home-container {
    grid-column: 1/13;
    grid-row: 2/3;

    font-family: 'Geologica', sans-serif;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(25px, auto));
    grid-column-gap: 20px;

    margin: 0px 60px 0px 60px;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 24px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 8px;
    color: #555;
}

label {
    margin-bottom: 4px;
    font-size: 0.9em;
    font-weight: 500;
    color: #444;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
    /* Important for consistent sizing */
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

textarea {
    min-height: 100px;
    resize: vertical;
}


h4 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: #343a40;
}