@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

h1 {
    font-size: 30px;
}

h2 {
    margin-top: 0;
}

.home-container {
    grid-column: 1/13;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(25px, auto));
    grid-column-gap: 20px;

    margin: 0px 60px 0px 60px;
}

// Button
.btn {
    cursor: pointer;

    font-family: 'Geologica', sans-serif;
    font-size: 14px;

    padding: 8px 15px;
    margin: 0px 5px;
    background-color: #bed2e9;
    border-radius: 5px;
    border: none;

    &:hover {
        color: #fff;
        background-color: #162436;
    }
}

.btn-save {
    cursor: pointer;

    font-family: 'Geologica', sans-serif;
    font-size: 16px;

    padding: 5px 15px;
    background-color: #bed2e9;
    border-radius: 5px;
    border: none;
    width: 100%;

    &:hover {
        color: #fff;
        background-color: #162436;
    }
}

// Modal
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    &__modal-content {
        background-color: #fff;
        padding: 20px 30px;
        border-radius: 8px;
        width: 90%;
        max-width: 750px;
        max-height: 90vh;
        overflow-y: auto;
        color: #000;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

        &__close-button {
            float: right;
            padding: 8px 15px;
            cursor: pointer;
            border: none;
            background: #eee;
            border-radius: 5px;
        }

        &__modal-section {
            margin-bottom: 1.5rem;
            border-bottom: 1px solid #eee;
            padding-bottom: 1rem;
        }

        &__pre-wrap {
            white-space: pre-wrap;
        }
    }
}

.nutrition-table-display {
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f9f9f9;
}

.vitamins-header {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.nutrient-extra {
    margin-left: 5px;
    font-style: italic;
    color: #555;
    font-size: 12px;
}